#map {
  width: 100%;
  height: 500px;
}

.banner-img {
  height: 50vh;
  object-fit: cover;
  margin: 0;
}

.content-img {
  object-fit: cover;
}

.slide-title {
  position: absolute;
  right: 50%;
  transform: translate(50%, 0);
  bottom: 0.75em;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #00000063;
}

.round-button {
  bottom: 0.75em;
  right: 0.75em;
  position: fixed;
  width: 3.5em;
  height: 3.5em;
  padding: 0.7em;
  border-radius: 50%;
  transition: transform 200ms;
  outline: none !important;
}

.zoom-hidden {
  transform: scale(0, 0);
}

.round-button:hover {
  background-color: #eeeeee;
}

.floating {
  box-shadow: 1px 5px 7px -3px black;
}

.round-button > img {
  width: 100%;
  object-fit: scale-down;
}

@media (min-width: 768px) {
  .slide-title {
    right: 2.5em;
    transform: translate(0, 0);
  }

  .content-img {
    height: 200px;
  }
}

@media (min-height: 750px) {
  .banner-img {
    height: 500px;
  }
}

@media (max-height: 576px) {
  .banner-img {
    height: 90vh;
  }
}
